@{
    ViewBag.Title = "Магазин мебели";
}
<body @*style="background-image:url('Images/BackgroundSite.jpg')"*@>

<table border="1" align="center" width=75% background="Images/BackgroundSite.jpg">
<tr>
<td>
@Html.ActionLink("Главная", "Index")
</td>
<td>
О нас
</td>
<td>
Оплата и доставка
</td>
<td>
Контакты
</td>
<td>
zorrendor@gmail.com
</td>
</tr>
<tr>
</tr>
</table>

<br />

<table border="1" align="center" width=75%>
<tr>
<td width=25%>
<input type=text />
Поиск
</td>
<td>

</td>
</tr>
</table>

</body>